HL {
  /* headline */
  color: Black;
  text-align: Left;
  font-size: 50px;
  font-family: "Times New Roman";
  font-weight: bold;
}
SL {
  /* sub headline */
  color: black;
  text-align: left;
  font-size: 25px;
  font-family: "Times New Roman";
  font-weight: bold;
}
.styleTnR {
  color: black;
  text-align: justify;
  font-size: 5px;
  font-family: "Times New Roman";
}
.garis {
  /* underline */
  border-bottom: 5px solid black;
  padding-bottom: 0.5px;
}
.button {
  background-color: white;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.button1 {
  border: 2px solid burlywood;
}
.button1:hover {
  background-color: burlywood;
  color: white;
}
