HL {
  /* headline */
  color: Black;
  text-align: Left;
  font-size: 50px;
  font-family: "Times New Roman";
  font-weight: bold;
}
SL {
  /* sub headline */
  color: black;
  text-align: left;
  font-size: 25px;
  font-family: "Times New Roman";
  font-weight: bold;
}
.styleTnR {
  color: black;
  text-align: justify;
  font-size: 5px;
  font-family: "Times New Roman";
}
.garis {
  /* underline */
  border-bottom: 5px solid black;
  padding-bottom: 0.5px;
}
.button {
  background-color: white;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.button1 {
  border: 2px solid burlywood;
}
.button1:hover {
  background-color: burlywood;
  color: white;
}
a:visited {
  /* tampilan link */
  color: rgb(64, 149, 64);
}
a:hover {
  /* tampilan sebelum diklik */
  color: rgb(51, 51, 244);
}
a:active {
  /* tampilan link */
  color: red;
}
.gambar {
  /* kotak pilihan */
  min-width: 250px;
  max-widht: 300px;
  background-color: white;
  border: 2px solid blue;
  border-radius: 100px;
  padding: 20px;
  text-align: center;
  transition: all 0.3 ease;
  box-shadow: 0 4px 8px black;
}
